
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0%;
    background-color: #f4f4f4;
}
h1{
    text-align: center;
    font-size: 2.25rem;
    margin: 20px 0;
    padding: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card{
    background-color: #f4f4f4;
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    box-shadow:  0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
}
.card image{
    width: 40%;
    height: 40%;
    border-radius: 8px;
    object-fit: cover;
}
.info{
    margin: 5px 0;
}
.info p {
    margin: 5px 0;
}